
### IDE specifics

# Intellij
**/.idea
**/*.iml

# Eclipse
**/.project
**/.settings
**/.checkstyle
**/.classpath

### Project

**/resources/public/
**/target
**/out
**/*_old.*

**/META-INF/
**/venv/
**/.vscode/
**/fr/gouv/beta/fabnum/kelrisks/facade/mapping/*/*Impl.java